{% extends 'base.html' %}
{% load i18n %}
{% block description %}{% blocktranslate %}Alles Wichtige über die Person: Lorenz Zahn.{% endblocktranslate %}{% endblock %}
{% block title %}{% translate "Über mich | LORENZ ZAHN" %}{% endblock %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="/static/basic/about/style.css">{% endblock %}
{% block main %}
            <div class="spacer waves1">
            </div>
            <div class="textresize">
                <picture>
                    <source media="(min-width:1280px)" srcset="/static/basic/about/lorenz2-rectangle-large.avif" type="image/avif">
                    <source media="(min-width:1280px)" srcset="/static/basic/about/lorenz2-rectangle-large.webp" type="image/webp">
                    <source media="(min-width:780px)" srcset="/static/basic/about/lorenz2-rectangle-medium.avif" type="image/avif">
                    <source media="(min-width:780px)" srcset="/static/basic/about/lorenz2-rectangle-medium.webp" type="image/webp">
                    <source media="(min-width:380px)" srcset="/static/basic/about/lorenz2-square-medium.avif" type="image/avif">
                    <source media="(min-width:380px)" srcset="/static/basic/about/lorenz2-square-medium.webp" type="image/webp">
                    <source srcset="/static/basic/about/lorenz2-square-small.avif" type="image/avif">
                    <source srcset="/static/basic/about/lorenz2-square-small.webp" type="image/webp">
                    <img src="/static/basic/about/lorenz2-rectangle.jpg" alt="{% translate "Eine Fotographie von Lorenz Zahn. Ein Mann mit blonden Haaren und Bart." %}">
                </picture>{% url 'contact:form' as url %}{% blocktranslate with url=url %}
                <h1>Über mich</h1>
                <p>
                    Sehr geehrte Besuchende meiner Webseite,</br></br>
                    mein Name ist Lorenz Zahn. Meine Wurzeln liegen in Lippstadt, einer Kleinstadt in Westfalen, in der man schnell nasse Füße bekommen kann. Während meiner Grundschulzeit habe ich ein paar Jahre auf der portugiesischen Insel Terceira gewohnt. Auch dort kann man schnell nasse Füße bekommen, aber das soll kein Bewertungskriterium sein. Nach meinem Abitur bin ich nach Halle an der Saale zum Studium an der Martin-Luther-Universität gezogen. Nun schlage ich hier neue Wurzeln.
                </p>
                <p>
                    Zuerst habe ich mit einem Studium der Chemie begonnen, doch letztlich hat es mich zur Informatik gezogen. Im Moment arbeite ich an meiner Bachelorarbeit und treffe Vorbereitungen für mein Masterstudium. Wie man vielleicht hiervon ableiten kann, habe ich ein breites Interesse an Mathematik, Informatik, Naturwissenschaften und Technik. So habe ich die letzten Jahre, als Wahlpflichtfach, Module in der Experimentalphysik belegt und abgeschlossen.
                </p>
                <p>
                    In meiner Freizeit treibe ich Sport, lese ergänzende Fachbücher zu meinem Studium und verbringe Zeit mit meinem Mann (oder zu viel Zeit vor meinem Rechner). Nebenbei jobbe ich als Programmierer und habe auch für ein paar Jahre in der Gastronomie gearbeitet.
                </p>
                <p>
                    Anders, als meine Fächerwahl wohl vermuten lässt, arbeite ich gerne mit Kunden und allgemein mit anderen Menschen zusammen. Vielleicht kommen wir bei Gelegenheit ins <a href="{{ url }}">Gespräch!</a>
                </p>
            {% endblocktranslate %}<div>
        {% endblock %}