{% extends 'base.html' %}
{% load i18n %}
{% block description %}{% blocktranslate %}Der persönliche Webauftritt von Lorenz Zahn. 
Hier finden sie alles relevante zur Person, Neuigkeiten, sowie Kontaktmöglichkeiten.{% endblocktranslate %}{% endblock %}
{% block title %}{% translate "Hauptseite | LORENZ ZAHN" %}{% endblock %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="/static/basic/home/style.css">{% endblock %}
{% block main %}
            <div class="spacer waves1">
            </div>
            <section class="showcase case1 textresize">
                <picture>
                    <source media="(min-width:380px)" srcset="/static/basic/home/lorenz1-medium.avif" type="image/avif">
                    <source media="(min-width:380px)" srcset="/static/basic/home/lorenz1-medium.webp" type="image/webp">
                    <source srcset="/static/basic/home/lorenz1-small.avif" type="image/avif">
                    <source srcset="/static/basic/home/lorenz1-small.webp" type="image/webp">
                    <img src="/static/basic/home/lorenz1-medium.jpg" alt="{% translate "Eine Fotografie von Lorenz Zahn. Ein Mann mit blonden Haaren und Bart." %}" load="lazy" type="image/jpeg">
                </picture>
                <div class="text">
                    <h1>{% translate "Willkommen" %}</h1>
                    <p>{% blocktranslate %}
                        Mein Name ist Lorenz Zahn und ich freue mich über Ihren Besuch! Auf dieser Webseite möchte ich mich vorstellen. Hierzu gehören meine Qualifikationen, Kompetenzen und Freizeitprojekte.
                    {% endblocktranslate %}</p>
                    <p>
                        <a href="{% url 'basic:about' %}">{% translate "Mehr über mich" %}</a>
                    </p>
                </div>
            </section>
            <div class="spacer waves2">
            </div>
            <section class="showcase case2 textresize">
                <picture>
                    <source media="(min-width:380px)" srcset="/static/basic/home/nutria-medium.avif" type="image/avif">
                    <source media="(min-width:380px)" srcset="/static/basic/home/nutria-medium.webp" type="image/webp">
                    <source srcset="/static/basic/home/nutria-small.avif" type="image/avif">
                    <source srcset="/static/basic/home/nutria-small.webp" type="image/webp">
                    <img src="/static/basic/home/nutria-medium.jpg" alt="{% translate "Zwei Nutria im Wasser" %}" load="lazy" type="image/jpeg">
                </picture>
                <div class="text">
                    <h1>{% translate "Blog" %}</h1>
                    <p>{% blocktranslate %}
                        Neuigkeiten, Fortschritte an Projekten, sowie Alltägliches werden auf meinem Blog festgehalten. Hier gibt es immer etwas zu entdecken. (Versprochen!)
                    {% endblocktranslate %}</p>
                    <p>
                        <a href="{% url 'blog:list' %}">{% translate "Zu meinem Blog" %}</a>
                    </p>
                </div>
            </section>
            <div class="spacer waves3">
            </div>
            <section class="showcase case1 textresize">
                <picture>
                    <source media="(min-width:380px)" srcset="/static/basic/home/projekte-medium.avif" type="image/avif">
                    <source media="(min-width:380px)" srcset="/static/basic/home/projekte-medium.webp" type="image/webp">
                    <source srcset="/static/basic/home/projekte-small.avif" type="image/avif">
                    <source srcset="/static/basic/home/projekte-small.webp" type="image/webp">
                    <img src="/static/basic/home/projekte-medium.jpg" alt="{% translate "Lehrbuch, Notizbuch und Füllfederhalter" %}" load="lazy" type="image/jpeg">
                </picture>
                <div class="text">
                    <h1>{% translate "Projekte" %}</h1>
                    <p>{% blocktranslate %}
                        Zur persönlichen Weiterbildung möchte ich mich an kleineren Projekten versuchen. Diese Seite, zum Beispiel, ist das erste in dieser Reihe. Weitere folgen und werden bald hier eingepfelgt. Vielleicht gibt es schon beim nächsten Besuch etwas neues zu entdecken!
                    {% endblocktranslate %}</p>
                    <p>
                        <a target="_blank" href="https://codeberg.org/Fereon/lorenz-auftritt">{% translate "Zu meiner Git-Ablage" %}</a>
                    </p>
                </div>
            </section>
            <div class="spacer waves4">
            </div>
            <section class="showcase case2 textresize">
                <picture>
                    <source media="(min-width:380px)" srcset="/static/basic/home/bruecke-medium.avif" type="image/avif">
                    <source media="(min-width:380px)" srcset="/static/basic/home/bruecke-medium.webp" type="image/webp">
                    <source srcset="/static/basic/home/bruecke-small.avif" type="image/avif">
                    <source srcset="/static/basic/home/bruecke-small.webp" type="image/webp">
                    <img src="/static/basic/home/bruecke-medium.jpg" alt="{% translate "Eine Brücke aus Stahl." %}" load="lazy" type="image/jpeg">
                </picture>
                <div class="text">
                    <h1>{% translate "Kontakt" %}</h1>
                    <p>{% blocktranslate %}
                        Bei Fragen, Anregungen oder anderen Anliegen, ermutige ich Sie mit mir in Kontakt zu treten. Am einfachsten ist dies über das Kontaktformular möglich. Nur keine Scheu!
                    {% endblocktranslate %}</p>
                    <p>
                        <a href="{% url 'contact:form' %}">{% translate "Zum Kontaktformular" %}</a>
                    </p>
                </div>
            </section>
        {% endblock %}