{% extends 'base.html' %}
{% load i18n %}
{% block description %}{% blocktranslate %}Impressum des Webauftritts von Lorenz Zahn.{% endblocktranslate %}{% endblock %}
{% block title %}{% translate "Impressum | LORENZ ZAHN" %}{% endblock %}
{% block main %}
            {% blocktranslate %}
                <div class="spacer waves1">
                </div>
                <div class="textresize">
                <h1>Impressum</h1>
                <h2>Kontaktdaten</h2>
                <address>
                    Lorenz Zahn<br>
                    Saalberg 1<br>
                    06110 - Halle (Saale)<br><br>
                    Telefon: <a href="tel:+493452905446">0345 / 2905446</a><br>
                    Email: <a href="mailto:webmaster@lorenz-zahn.de">webmaster@lorenz-zahn.de</a>
                </address>

                <h2>Hinweis</h2>
                <p>Diese Website ist ein öffentlicher Auftritt einer Privatperson. Es ist kein komerzieller Zweck vorgesehen.</p>
        <div>{% endblocktranslate %}
        {% endblock %}