{% extends 'base.html' %}
{% load i18n %}
{% block description %}{% blocktranslate %}Datenschutzerklärung des Webauftritts von Lorenz Zahn.{% endblocktranslate %}{% endblock %}
{% block title %}{% translate "Datenschutzerklärung | LORENZ ZAHN" %}{% endblock %}
{% block main %}
            <div class="spacer waves1">
            </div>
            <div class="textresize">{% blocktranslate %}
                <h1>Datenschutzerklärung</h1>
                <p>
                    Die Nutzung dieser Website kann mit der Verarbeitung von personenbezogenen Daten verbunden sein. Damit diese Verarbeitungen für Sie nachvollziehbar sind, möchte ich Ihnen mit den folgenden Informationen einen Überblick zu diesen Verarbeitungen verschaffen. Um eine faire Verarbeitung zu gewährleisten, möchte ich Sie außerdem über Ihre Rechte nach der Europäischen Datenschutz-Grundverordnung (DSGVO) und dem Bundesdatenschutzgesetz (BDSG) informieren.
                </p>

                <h2>Namen und Kontaktdaten des Verantwortlichen und Datenschutzbeaufgtragten</h2>
                <p>
                    Wenn Sie Fragen oder Anregungen zu diesen Informationen haben oder sich wegen der Geltendmachung Ihrer Rechte an uns wenden möchten, richten Sie Ihre Anfrage bitte an:
                </p>
                <address>
                    Lorenz Zahn<br>
                    Saalberg 1<br>
                    06110 - Halle (Saale)<br><br>
                    Telefon: <a href="tel:+493452905446">0345 / 2905446</a><br>
                    Email: <a href="mailto:webmaster@lorenz-zahn.de">webmaster@lorenz-zahn.de</a>
                </address>

                <h2>Allgemeine Angaben zur Datenverarbeitung</h2>
                <p>
                    Ich verarbeite personenbezogene Daten unter Beachtung der einschlägigen Datenschutzvorschriften, insbesondere der DSGVO und des BDSG. Eine Datenverarbeitung durch mich findet nur auf der Grundlage einer gesetzlichen Erlaubnis statt. Bei der Nutzung dieser Website verarbeite ich personenbezogene Daten nur mit Ihrer Einwilligung (Art. 6 Abs. 1 Buchst. a) DSGVO), zur Erfüllung eines Vertrags, dessen Vertragspartei Sie sind, oder auf Ihre Anfrage zur Durchführung vorvertraglicher Maßnahmen (Art. 6 Abs. 1 Buchst. b) DSGVO), zur Erfüllung einer rechtlichen Verpflichtung (Art. 6 Abs. 1 Buchst. c) DSGVO) oder wenn die Verarbeitung zu Wahrung meiner berechtigten Interessen oder den berechtigten Interessen eines Dritten erforderlich ist, sofern nicht Ihre Interessen oder Grundrechte und Grundfreiheiten, die den Schutz personenbezogener Daten erfordern, überwiegen (Art. 6 Abs. 1 Buchst. f) DSGVO).
                </p>

                <h2>Dauer der Speicherung</h2>
                <p>
                    Sofern sich aus den folgenden Hinweisen nichts anderes ergibt, speichere ich die Daten nur solange, wie es zur Erreichung des Verarbeitungszwecks oder für die Erfüllung unserer vertraglichen oder gesetzlichen Pflichten erforderlich ist. Solche gesetzlichen Aufbewahrungspflichten können sich insbesondere aus handels- oder steuerrechtlichen Vorschriften ergeben.
                </p>

                <h2>Verarbeitung von Server-Log-Files</h2>
                <p>
                    Bei der rein informativen Nutzung meiner Website werden zunächst automatisiert (also nicht über eine Registrierung) allgemeine Informationen gespeichert, die Ihr Browser an meinen Server übermittelt. Hierzu zählen standardmäßig: Browsertyp/ -version, verwendetes Betriebssystem, aufgerufene Seite, die zuvor besuchte Seite (Referrer URL), IP-Adresse, Datum und Uhrzeit der Serveranfrage und HTTP-Statuscode. Die Verarbeitung erfolgt zur Wahrung unserer berechtigten Interessen und beruht auf der Rechtsgrundlage des Art. 6 Abs. 1 Buchst. f) DSGVO. Diese Verarbeitung dient der technischen Verwaltung und der Sicherheit der Website. Die gespeicherten Daten werden gelöscht, wenn nicht aufgrund konkreter Anhaltspunkte ein berechtigter Verdacht auf eine rechtswidrige Nutzung besteht und eine weitere Prüfung und Verarbeitung der Informationen aus diesem Grund erforderlich ist.
                </p>

                <h2>Datenverarbeitung durch Provider und Host</h2>
                <p>
                    Diese Website wird auf einen angemieteten virtuellen Server gehostet. Anbieter dieses ist die Strato AG, Pascalstraße 10, 10587 Berlin (nachfolgend : "Strato"). Wenn sie meine Website besuchen, erfasst Strato verschiedene Daten inklusive ihrer IP-Adresse. Die Verwendung von Strato erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO.
                <p>
                <p>
                    Weitere Informationen können Sie der <a traget="_blank" href="https://www.strato.de/datenschutz/">Datenschutzerklkärung von Strato</a> entnehmen.
                </p>
                <p>
                    Ich habe einen Vertrag über Auftragsverarbeitung (AVV) mit Strato geschlossen. Hierbei handelt es sich um einen datenschutzrechtlich vorgeschriebenen Vertrag, der gewährleistet, dass dieser die personenbezogenen Daten nur nach meinen Weisungen und unter Einhaltung der DSGVO verarbeitet.
                </p>

                <h2>Cookies, Tracking, Plugins, externe Inhalte</h2>
                <p>
                    Im Zusammenhang mit dem Kontaktformular wird ein Cross-Site-Request-Forgery-Token (Kurz CSRF-Token) eingesetzt. Dieses Cookie besteht aus einer zufälligen Zeichenkette und ist aus Gründen der Sicherheit notwendig. Es dient dem Unterbinden von gefälschten Anfragen an meinen Server. Es verfällt nach beenden der Sitzung, schließen des Browsers oder manuellen Löschen. Es werden hierdurch keine personenbezogenen Daten gesammelt.
                </p> 
                <p>
                    Zur Wahrung Ihrer Privatsphäre werden Daten wie Bilder oder Schriftarten durch meinen Server bereitgestellt. Es werden keine externe Plugins oder Tracker verwendet.
                </p>

                <h2>Datenverarbeitung durch Nutzerangaben</h2>
                <p>
                    Diese Webseite bietet ein Kontaktformular. Die durch dieses erfassten Daten werden durch meinen Server verarbeitet und gespeichert. Die erfassten Daten werden ausschließlich zur Bearbeitung der Kontaktanfrage verwendet und nach spätestens 14 Tagen automatisch gelöscht.
                </p>

                <h2>Ihre Rechte</h2>
                <p>
                    Als betroffene Person haben Sie das Recht, uns gegenüber Ihre Betroffenenrechte geltend zu machen. Dabei haben Sie insbesondere die folgenden Rechte:
                </p>
                <ul>
                    <li>Sie haben nach Maßgabe des Art.15 DSGVO und § 34 BDSG das Recht, Auskunft darüber zu verlangen, ob und gegebenenfalls in welchen Umfang ich personenbezogene Daten zu Ihrer Person verarbeite oder nicht.</li>
                    <li>Sie haben das Recht, nach Maßgabe des Art. 16 DSGVO von mir die Berichtigung Ihrer Daten zu verlangen.</li>
                    <li>Sie haben das Recht, nach Maßgabe des Art. 17 DSGVO und § 35 BDSG von mir die Löschung Ihrer personenbezogenen Daten zu verlangen.</li>
                    <li>Sie haben das Recht, nach Maßgabe des Art. 18 DSGVO die Verarbeitung Ihrer personenbezogenen Daten einschränken zu lassen.</li>
                    <li>Sie haben das Recht, nach Maßgabe des Art. 20 DSGVO die Sie betreffenden personenbezogenen Daten, die Sie mir bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten, und diese Daten einem anderen Verantwortlichen zu übermitteln.</li>
                    <li>Sie haben nach Maßgabe des Art. 21 Abs. 1 DSGVO das Recht, gegen jede Verarbeitung, die auf der Rechtsgrundlage des Art. 6 Abs. 1 Buchst. e) oder f) DSGVO beruht, Widerspruch einzulegen. Sofern durch mich personenbezogene Daten über Sie zum Zweck der Direktwerbung verarbeitet werden, können Sie gegen diese Verarbeitung gem. Art. 21 Abs. 2 und Abs. 3 DSGVO Widerspruch einlegen.</li>
                </ul>
                <p>
                    Sofern Sie mir eine gesonderte Einwilligung in die Datenverarbeitung erteilt haben, können Sie diese Einwilligung nach Maßgabe des Art. 7 Abs. 3 DSGVO jederzeit widerrufen. Durch einen solchen Widerruf wird die Rechtmäßigkeit der Verarbeitung, die bis zum Widerruf aufgrund der Einwilligung erfolgt ist, nicht berührt.
                </p>
                <h3>Beschwerde bei einer Aufsichtsbehörde</h3>
                <p>
                    Wenn Sie der Ansicht sind, dass eine Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die Bestimmungen der DSGVO verstößt, haben Sie nach Maßgabe des Art. 77 DSGVO das Recht auf Beschwerde bei einer Aufsichtsbehörde.
                </p>
                <em>
                    Diese Datenschutzerklärung basiert auf einem Muster bereitgestellt durch die <a target="_blank" href="https://www.datenschutzkanzlei.de/datenschutzerklaerung/">Datenschutzkanzlei</a>. (Stand: 06. November 2022)
                </em>
            {% endblocktranslate %}</div>
        {% endblock %}