/********/
/* Home */
/********/

.showcase {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.showcase picture {
    display: flex;
}

.showcase img {
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    align-self: center;
}

.showcase a {
    display: inline-block;
    color: var(--grey1);
    background-color: var(--brown4);
    text-decoration: none;
    border: 2pt solid transparent;
    border-radius: 0.25em;
    padding: 1.25em;
}

.showcase a:hover {
    background-color: var(--brown3);
}

.showcase a:focus {
    border-color: var(--grey1);
    color: var(--grey1)
}

.case1 {
    background-color: white;
}

.case2 {
    background-color: var(--blue1);
    color: white;
}

.waves2 {
    background-image: url('/static/basic/home/waves2-mobile.svg');
    background-color: white;
}

.waves3 {
    background-image: url('/static/basic/home/waves3-mobile.svg');
    background-color: var(--blue1);
}

.waves4 {
    background-image: url('/static/basic/home/waves4-mobile.svg');
    background-color: white;
}

@media (min-width: 780px) {
    .waves2 {
        background-image: url('/static/basic/home/waves2-tablet.svg');
    }

    .waves3 {
        background-image: url('/static/basic/home/waves3-tablet.svg');
    }

    .waves4 {
        background-image: url('/static/basic/home/waves4-tablet.svg');
    }

    .showcase picture {
        grid-area: pic;
    }

    .showcase .text {
        grid-area: text;
    }
    
    .case1 {
        display: grid;
        grid-template: 'text pic' auto;
        grid-template-columns: 2fr 1fr;
        min-height: 33vh;
    }

    .case2 {
        display: grid;
        grid-template: 'pic text' auto;
        grid-template-columns: 1fr 2fr;
        min-height: 33vh;
    }

    .case2 a {
        float: right;
    }

    .case1 .text {
        margin: auto 1em auto 0;
    }
    
    .case2 .text {
        margin: auto 0 auto 1em;
    }
}

@media (min-width: 1280px) {
    .waves2 {
        background-image: url('/static/basic/home/waves2-desktop.svg');
    }

    .waves3 {
        background-image: url('/static/basic/home/waves3-desktop.svg');
    }

    .waves4 {
        background-image: url('/static/basic/home/waves4-desktop.svg');
    }
}