/*********/
/* About */
/*********/
picture img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

@media (max-width: 780px) {
    .textresize {
        margin-top: initial;
    }
}

@media (min-width: 780px) {
    picture {
        width: 38%;
        float: right;
        padding-left: 1em;
    }
    
    picture img {
        border-radius: initial;
    }
}