{% extends 'base.html' %}
{% load i18n static blog_extra %}
{% block description %}{% blocktranslate %}Übersichtsseite zum Blog von Lorenz Zahn.{% endblocktranslate %}{% endblock %}
{% block title %}{% translate "Blog" %} | LORENZ ZAHN{% endblock %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="/static/blog/style.css">{% endblock %}
{% block main %}
            <div class="spacer waves1">
            </div>
            <div class="textresize">
                <h1>{% translate "Blog" %}</h1>{% for entry in object_list %}
                <article class="blogpostpreview">
                    <a href="{{ entry.get_absolute_url }}">
                        <picture class="titleimage">
                            <source media="(min-width: 780px)" srcset="{{ entry.image.large.url }}" type="image/webp">
                            <source media="(min-width: 380px)" srcset="{{ entry.image.medium.url }}" type="image/webp">
                            <source srcset="{{ entry.image.small.url }}" type="image/webp">
                            <img src="{{ entry.image.source.url }}" alt="{{ entry.image.description }}" {% if not forloop.first %}load="lazy"{% endif %}>
                        </picture>
                        <h2>{{ entry.title }}</h2>
                        <time>{{ entry.published | date }}</time>
                    </a>
                </article>{% endfor %}
                <nav class="pagination">
                    <span class="current">{% blocktranslate with number=page_obj.number num_pages=page_obj.paginator.num_pages %}Seite {{ number }} von {{ num_pages }}{% endblocktranslate %}</span>
                    <span class="step-links">{% if page_obj.has_previous %}
                            <a class="first" href="?page=1">{% translate "&laquo; erste" %}</a>
                            <a class="prev" href="?page={{ page_obj.previous_page_number }}">{% translate "vorherige" %}</a>
                        {% endif %}{% if page_obj.has_next %}
                            <a class="next" href="?page={{ page_obj.next_page_number }}">{% translate "nächste" %}</a>
                            <a class="last" href="?page={{ page_obj.paginator.num_pages }}">{% translate "letzte &raquo;" %}</a>{% endif %}
                    </span>
                </nav> 
            </div>   
        {% endblock main %}