{% extends 'base.html' %}
{% load i18n blog_extra %}
{% block description %}{% blocktranslate with title=object.title %}Blogeintrag mit dem Titel: {{ title }}{% endblocktranslate %}{% endblock %}
{% block title %}{{ object.title }} | LORENZ ZAHN{% endblock %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="/static/blog/style.css">{% endblock %}
{% block main %}
            <article class="textresize">
                <picture class="titleimage top">
                    <source media="(min-width: 780px)" srcset="{{ object.image.large.url }}" type="image/webp">
                    <source media="(min-width: 380px)" srcset="{{ object.image.medium.url }}" type="image/webp">
                    <source srcset="{{ object.image.small.url }}" type="image/webp">
                    <img src="{{ object.image.source.url }}" alt="{{ object.image.description }}">
                </picture>
                <h1>{{ object.title }}</h1>
                {{ object.article | markdown }}
            </article>
        {% endblock %}