/************/
/* Bloglist */
/************/

.blogpostpreview a, .blogpostpreview a:hover, .blogpostpreview a:focus {
    color: var(--grey1);
    display: block;
    text-decoration: none;
}

.blogpostpreview  {
    margin-bottom: 3em;
}

.blogpostpreview h2 {
    margin-top: 0.1em;
    margin-bottom: 0.3333em;
}

.pagination {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.current {
    text-align: center;
}

.step-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.step-links a {
    display: block;
    padding: 1em;
    margin: 0.333em 1em;
}

/************/
/* Blogpost */
/************/

.textresize img {
    width: 100%;
}

.textresize .top img {
    margin-top: 3em;
}

.titleimage img {
    height: 38.1966011vh;
    object-fit: cover;
}