/***********/
/* Contact */
/***********/

form, form * {
    display: flex;
    flex-direction: column;
}

form label {
    padding-top: 1em;
}

form input {
    padding: 0.5em;
}

form textarea {
    height: 8em;
}

form input[type=checkbox] {
    margin-right: auto;
    width: 1.5em;
    height: 1.5em;
}

form input[type=submit] {
    margin-left: auto;
    color: var(--grey1);
    background-color: var(--brown4);
    text-decoration: none;
    padding: 0.75em;
    font-size: 18px;
    border: 2pt solid transparent;
    border-radius: 0.25em;
}

form input[type=submit]:hover {
    background-color: var(--brown3);
}

form input[type=submit]:focus {
    border-color: var(--grey1);
}