{% extends 'base.html' %}
{% load i18n %}
{% block description %}{% endblock %}
{% block title %}{% translate "Kontaktanfrage gesendet | LORENZ ZAHN" %}{% endblock %}
{% block main %}
        <div class="spacer waves1">
        </div>
        <div class="textresize">{% url 'basic:home' as url %}{% blocktranslate with url=url %}
            <p>
                Ihre Kontaktanfrage wurde erfolgreich versandt. Sie können jetzt zum <a href="{{ url }}">Start</a> zurückkehren.
            </p>{% endblocktranslate %}
        {% endblock %}</div>