{% extends 'base.html' %}
{% load i18n %}
{% block description %}{% blocktranslate %}Ein Formular, um mit Lorenz Zahn in Kontakt zu treten.{% endblocktranslate %}{% endblock %}
{% block title %}{% translate "Kontakt | LORENZ ZAHN" %}{% endblock %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="/static/contact/style.css">{% endblock %}
{% block main %}
            <div class="spacer waves1">
            </div>
            <div class="textresize">
                <h1>{% translate "Kontakt" %}</h1>
                <p>{% blocktranslate %}
                    Um mit mir schnell und unkompliziert in Kontakt zu treten, bitte das unten aufgeführte Formular ausfüllen und abschicken.
                {% endblocktranslate %}</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <input type="submit" value="{% translate "Abschicken" %}"/>
                </form>
            </div>
        {% endblock %}