:root {
    --blue1: #3C588C;
    --blue2: #5274B3;
    --blue3: #7CA3EB;
    --blue4: #A1C2FF;
    --blue5: #BAD2FF;
    --brown1: #664D16;
    --brown2: #886B2C;
    --brown3: #CCA756;
    --brown4: #EBC87C;
    --brown5: #FFE3A6;
    --grey1: #333333;
    --grey2: #666666;
    --grey3: #CCCCCC;
    --sidepadding: max(1em, calc(50vw - 32em));
}

/*********/
/* Fonts */
/*********/
/* raleway-500 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('/static/fonts/raleway-v28-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/static/fonts/raleway-v28-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
}

html, .root {
    color: var(--grey1);
    font-size: 18px;
    line-height: 24px;
}

body, .article {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    line-height: 1.33333333em;
}

h1, .h1 {
    word-wrap: break-word;
    font-size: 2.83333333em;
    line-height: 1.41176471em;
    margin-top: 0.47058824em;
    margin-bottom: 0.94117648em;
}

h2, .h2 {
    word-wrap: break-word;
    font-size: 2em;
    line-height: 1.33333333em;
    margin-top: 0.66666667em;
    margin-bottom: 0.66666667em;
}

h3, .h3 {
    word-wrap: break-word;
    font-size: 1.38888889em;
    line-height: 1.92em;
    margin-top: 0.96em;
    margin-bottom: 0em;
}

h4, .h4 {
    word-wrap: break-word;
    font-size: 1em;
    line-height: 1.33333333em;
    margin-top: 1.33333333em;
    margin-bottom: 0em;
}

h5, .h5 {
    word-wrap: break-word;
    font-size: 1em;
    line-height: 1.33333333em;
    margin-top: 1.33333333em;
    margin-bottom: 0em;
}

p, ul, ol, pre, table, blockquote {
    margin-top: 0em;
    margin-bottom: 1.33333333em;
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}

a, b, i, strong, em, small, code {
    line-height: 0;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/***********/
/* General */
/***********/

body {
    margin: 0;
    background-color: white;
}

body a {
    color: var(--brown1);
}

body a:focus {
    color: var(--brown2);
}

main {
    padding-top: 2em;
}

main > *:last-child {
    padding-bottom: 1em;
}

.textresize {
    margin-top: -2em;
    padding: 0 var(--sidepadding) 0;
}

.spacer {
    aspect-ratio: 2 / 1;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.waves1 {
    background-image: url('/static/basic/home/waves1-mobile.svg');
    background-color: var(--blue1);
}

@media (min-width: 780px) {
    .textresize p, .textresize ul {
        text-align: justify;
    }

    .spacer {
        aspect-ratio: 3 / 1;
    }

    .waves1 {
        background-image: url('/static/basic/home/waves1-tablet.svg');
    }
}

@media (min-width: 1280px) {
    .spacer {
        aspect-ratio: 6 / 1;
    }

    .waves1 {
        background-image: url('/static/basic/home/waves1-desktop.svg');
    }
}

/*************************/
/* Header and Navigation */
/*************************/

header {
    width: 100%;
    position: fixed;
    color: white;
}

header .header-bar {
    display: flex;
    width: 100%;
    background-color: var(--blue1);
}

header nav {
    background-color: var(--grey1);
    position: fixed;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: width .2s ease-out;
}

header nav ul {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header nav a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 1.75em;
}

header nav a:focus {
    color: white;
}

header nav a:hover {
    background-color: var(--blue2);
}

header .menu-btn:checked ~ nav{
    width: 96%;
    height: 100%;
}

header .menu-btn {
    display: none;
}

header #menu-icon {
    cursor: pointer;
    display: block;
    padding: .5em 1em;
}

header #menu-icon:hover {
    background-color: var(--blue2);
}

header .hamburger-icon {
    height: 2em;
    width: 2em;
}

@media (min-width: 780px) {
    header .menu-btn:checked ~ nav{
        width: 38%;
    }
}

@media (min-width: 1280px) {
    header #menu-icon {
        display: none;
    }

    header nav ul li:nth-last-child(2) {
        margin-left: auto;
    }

    header .header-bar {
        display: none;
    }

    header nav, header .menu-btn:checked ~ nav {
        transition: none;
        position: initial;
        width: 100%;
        height: min-content;
        background-color: var(--blue1);
    }

    header nav ul {
        flex-direction: row;
    }
}