<!DOCTYPE html>
{% load i18n static %}{% get_current_language as LANGUAGE_CODE %}<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Lorenz Zahn">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
        <link rel="manifest" href="/static/icon/site.webmanifest">
        <link rel="mask-icon" href="/static/icon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="icon" type="image/svg+xml" href="/static/icon/favicon.svg" sizes="any">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script type="text/javascript" src="/static/menu.js" defer></script>
        <title>{% block title %}{% endblock %}</title>{% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="header-bar">
                <label id="menu-icon" for="menu-btn" tabindex="0" role="button">
                    <img class="hamburger-icon" src="/static/menu.svg" type="image/svg+xml" alt="{% translate "Menü" %}">
                </label>
            </div>
            <input class="menu-btn" type="checkbox" id="menu-btn">
            <nav id="header-nav">
                <ul>
                    <li><a href="{% url 'basic:home' %}">{% translate "Hauptseite" %}</a></li>
                    <li><a href="{% url 'basic:about' %}">{% translate "Über mich" %}</a></li>
                    <li><a href="{% url 'blog:list' %}">{% translate "Blog" %}</a></li>
                    <li><a href="{% url 'contact:form' %}">{% translate "Kontakt" %}</a></li>
                    <li><a href="{% url 'basic:imprint' %}">{% translate "Impressum" %}</a></li>
                    <li><a href="{% url 'basic:privacy' %}">{% translate "Datenschutz" %}</a></li>
                </ul>
            </nav>
        </header>
        <main>{% block main %}{% endblock %}</main>
    </body>
</html>